.adminproduct-main {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.adminproduct-upper {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    margin-top: 8px;
    border-bottom: 1px solid gainsboro;
}

.adminproduct-upper input {
    padding: 8px 4px;
    font-size: 14px;
    width: 500px;
    border: none;
    outline: 1px solid gainsboro;
}

.adminproduct-upper a {
    text-decoration: none;
    padding: 12px;
    outline: 2px solid rgb(126, 126, 233);
}

.adminproduct-products {
    background-color: white;
    height: 90%;
    display: grid;
    column-gap: 12px;
    row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px 12px;
}

.adminproduct-card {
    border: 1px solid gainsboro;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminproduct-card img {
    width: 150px;
    height: 150px;
    border: none;
    outline: none;
    object-fit: fill;
}

.adminproduct-card .adminproductname {
    font-size: 14px;
    font-weight: 500;
    color: #928f8f;
}

.adminproductprice {
    font-weight: bold;
    font-size: 16px;
}

.admincardbottom {
    align-self: flex-start;
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.adminproductcard-btns {
    display: flex;
    gap: 5px;
    width: 100%;
}

.adminproductcard-btns button {
    padding: 8px 12px;
    flex: 1;
    background: none;
    border: none;
    outline: 1px solid gainsboro;
    cursor: pointer;

}

.adminproductcard-btns button:nth-child(2) {
    color: red;

}

.adminproduct-pagination {
    display: flex;
    padding: 8px 0;
    gap: 12px;
    margin-left: auto;
    width: fit-content;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.prevPage,
.nextPage,
.PerPageNumber {
    padding: 4px 8px;
    background-color: rgb(61, 155, 193);
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.pages {
    display: flex;
    gap: 5px;
    align-items: center;
}

/* @media (min-width:1600px) {
    .adminproduct-products {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }
} */

@media (max-width:1000px) {
    .adminproduct-products {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: auto;
        padding: 8px 0;
    }
}

@media(max-width:768px) {
    .adminproduct-upper {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .adminproduct-upper a {
        padding: 8px;
        outline: 1px solid rgb(126, 126, 233);
        order: -1;
    }

    .adminproduct-products {
        grid-template-columns: 1fr 1fr;
    }

    .adminproduct-search {
        width: 100%;
    }

    .adminproduct-upper input {
        width: 90%;
    }
}

@media (max-width:460px) {
    .adminproduct-products {
        grid-template-columns: 1fr;
    }
}