.panel {
    display: flex;
    height: 100vh;

}

.leftPanel {
    flex: 1;
    background-color: white;
    padding: 12px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gainsboro;
}

.leftPanel h1 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #6439ff;
    height: 50px;
}

.leftPanel hr {
    height: 0;
    border: 0.5px solid rgb(230, 228, 228);
}

.leftPanel .menus .title {
    font-size: 14px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
}

.leftPanel .menus a {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    cursor: pointer;
}

.leftPanel .menus a:hover {
    background-color: #ece8ff;
}

.leftPanel .menus a p {
    font-size: 16px;
    font-weight: 600;
    color: #888;
}

.leftPanel .menus a .icon {
    font-size: 20px;
    color: #7451f8;
}

.leftPanel .leftPanel_logout {
    margin-top: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.leftPanel .leftPanel_logout button {
    text-decoration: none;
    width: 100%;
    background-color: rgba(120, 162, 235, 0.891);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
    border: none;
    outline: none;
    align-items: center;
    cursor: pointer;
    padding: 20px;
}

.rightPanel {
    background-color: rgb(240, 240, 240);
    flex: 5;


}

.rightPanel_navbar {
    height: 55px;
    background-color: white;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gainsboro;
}

.rightPanel_navbar .hamburger {
    cursor: pointer;
}

.rightPanelProfile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.rightPanelProfile span {
    font-size: 14px;
    font-weight: bold;
    color: #999;
}

.rightPanelProfile img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.rightPanel-comp {
    padding: 10px 20px;
}

.closeLeftPanelBtn {
    display: none;
}

@media (max-width:1000px) {
    .leftPanel {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 300px;
        z-index: 20;
    }

    .closeLeftPanelBtn {
        display: inline;
    }
}

@media (max-width:468px) {
    .leftPanel {
        width: 100vw;
    }

    .rightPanel-comp {
        padding: 10px 8px;
    }
}