
.slider{
    height: 90.9vh;
    overflow: hidden;
}
.slides{
    height: 100%;
    width: 500%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
    /* border: 2px solid green; */
}
.image-container{
    background-image: url("../../../assets/HeropageImages/heroIimg1.webp");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position-y: 10%; */
    background-position: top;

}
.image2-container{
    background-image: url("../../../assets/HeropageImages/heroimg2.webp");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    /* background-position-y: 10%; */
    background-position: top;

}
.image3-container{
    background-image: url("../../../assets/HeropageImages/heroimg3.webp");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    /* background-position-y: 10%; */

}

/* css for manual navigation */
.navigation-manual{
    position: absolute;
    left: 0;
    /* border: 1px solid palevioletred; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.manual-btn{
    border: 4px solid #40D3DC;
    padding: 8px;
    border-radius: 12px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 20px;
}
.manual-btn:hover{
    background-color: #40D3DC ;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;

}
#radio3:checked ~ .first{
    margin-left: -40%;

}
/* navigation manual css end */

/* @media(max-width:)
 */


