.tailorSignupContainer{
    width: 100%;
    height: 92vh;
    /* border: 1px solid rgb(237, 67, 67); */
    display: flex;
    align-items: center;
    justify-content: center;


}
.tailorSignupForm{
    width: 80%;
    /* border: 1px solid black; */
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formImg{
    width: 40%;
    height: 62vh;
    /* border: 3px solid black; */
    box-shadow: 1px 1px 5px 1px rgb(30, 32, 33);

    background-image: url("../../../assets/HeropageImages/tailorimg1.jpg");
    background-position: center;
    background-size: cover;

}

.profileImgCard{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../../assets/HeropageImages/tiailorProfileIcon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:60%;
    height:12vh;
    margin-bottom: 3%;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-color: antiquewhite;

}
.tailorlogo{
    text-align: center;
    margin-bottom: 2%;
    font-size: 30px;
    color: #FD9644;
    
}
.tailorText{
    text-align: center;
    /* margin-bottom: 8%; */
    font-size: 18px;
}
.tailorSignupForm input{
    margin-bottom: 8%;
    padding: 12px;
    width:100%
}
.tailorSignupForm label{
    font-size: 18px;
}
.formContent{
    width: 40%;
    height: 62vh;
    /* border: 1px solid rgb(197, 29, 29); */
    box-shadow: 1px 1px 5px 1px rgb(30, 32, 33);

    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
}
.tailorSignupBtn{
    margin: auto;
    text-decoration: none;
    color: black;
    font-size: 28px;
    width:130px;
    height:50px;
    padding: 7px;
    text-align: center;
    /* border: 1px solid black; */
    border-top-left-radius: 14px;
    background-color: #FD9644;
    /* background-color: #f8a029; */
    border: none;
}
.hintText{
    text-align: center;
    text-decoration: none;
}

.profileImgSec{
  display: flex;
  align-items: center;
  width: 40%;
  height: 13vh;
  /* border-radius: 100px; */
  /* border: 1px solid red; */

}
.tailorProfileImg{
    width: 60%;
    height: 11vh;
    border-radius:4px;
    object-fit: cover;
    object-position: middle;

}
@media(max-width:1700px){
    .tailorSignupForm{

        width: 90%;
    }
}
@media(max-width:1600px){
    .formImg{

        width: 50%;
    }
    .formContent{
        width: 50%;
    }
}
@media(max-width:1000px){
    .formImg{

        width: 45%;}
    
    .formContent{
        width: 55%;
    }
}
    @media(max-width:800px){
        .tailorSignupForm{
            flex-direction: column;
            /* height: 90vh; */
        }
        .formImg{
    
            width: 100%;}
        
        .formContent{
            width: 100%;
            /* height: 90vh; */
        }
        }
        @media(max-width:600px){
           .profileImgSec{
            height: 10vh;
           }
           .profileImgCard{
            height: 8vh;
           }
           .tailorProfileImg{
            height: 8vh;
           }
        }