.navbarMain {
    background-color: white;
    padding: 35.6px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

.navbarContent {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.navbarLinks {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbarLinks a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;

}

.userProfile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.userProfile img {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 50%;
}

.navbarLogins {
    margin-left: 35px;
}

.userLogout,
.navbarSignup {
    margin-left: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-weight: normal !important;
}

.navbarSignup {
    background-color: coral;
    color: white !important;
}

.userLogout {
    background-color: orangered;
    color: white;
}

.navbar_hamburger_container {
    display: none
}

.navbar_hamburger_container .navbar_hamburger {
    display: none;
    cursor: pointer;
}

.navbar_links_inmodal {
    display: none;

}

button {
    cursor: pointer;
}

@media (max-width:780px) {
    .navbarLinks {
        display: none;
    }

    .navbar_hamburger_container .navbar_hamburger {

        display: block;
    }

    .navbar_hamburger_container {
        position: relative;
        display: flex;
        gap: 14px;
    }

    .navbar_links_inmodal {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 55px;
        position: absolute;
        top: 30px;
        left: -230px;
        background-color: rgb(240, 240, 240);
        padding: 40px 80px;
        max-width: 400px;
        min-width: fit-content;
        z-index: 10;

    }

    .navbar_hamburger_container .navbar_links_inmodal .hnavbarLogins {
        display: flex;
        /* flex-direction: column;*/
        justify-content: center;
        text-align: center;
    }

    .removeMargin {
        margin: 0;
    }

    .navbar_hamburger_container .navbar_links_inmodal a,
    .navbar_hamburger_container .navbarLogins a {
        color: black;
        text-decoration: none;
        font-weight: bolder;
    }

    .userProfile {
        flex-direction: column;
        gap: 30px;
    }

    .navbarprofileData {
        display: flex;
        gap: 8px;
        align-items: center;
    }
}