.singleTailorShopContainer{
    width: 100%;
    height: 85vh;
    /* border: 2px solid red; */
}
.modalLoginn{
    display: block;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
}
.modalLoginnHide{
    display: none;
}
.modalRegisterr{
    display: block;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #fff;
}
.modalRegisterrHide{
    display: none;
}
.suitDesignModalOpn{
    display: block;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px 1px rgb(30, 32, 33);
    background-color: #fff;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);

}
.suitDesignModalHide{
    display: none;
}
.measurementModalOpn{
    display: block;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
}
.measurementModalHide{
    display: none;
}
.userContactFormModalOpn{
    display: block;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
}
.userContactFormModalHide{
    display: none;
}

.singleTailorShopView{
    width: 90%;
    height: 85vh;
    display: flex;
    margin: auto;
    box-shadow: 1px 1px 5px 1px rgb(30, 32, 33);
    padding: 20px;
    border:2px solid black
}
.singleTailorShopCard{
    margin-top: 5%; 
    /* margin-: 5%; */
    width: 40%;
    height: 50vh;
    display: flex;
    margin-right: 30%;
    flex-direction: column;
    box-shadow: 1px 1px 5px 1px rgb(30, 32, 33);
    border-radius: 6px;

}
.singleTailorCrouselButtonBlock{
    width: 100%;
    position: relative;
}
.singleTailorCrouselButtons{
    position: absolute;
    top: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    /* border: 1px solid orange; */
}
.singleTailorCardImgCrousel{
    width: 100%;
    height: 50vh;
    /* object-fit:fill; */
    /* object-position:top;  */
    /* border: 1px solid rgb(102, 0, 255); */
}
.outletView{
    display: flex;
    height: 21vh;
    /* box-shadow: 1px 1px 5px 1px rgb(30, 32, 33); */
    /* border: 1px solid red; */
    background: #fff;
}

.singleTailorOrderBtn{
    border: none;
    width: 100%; 
    height: 6.3vh;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px rgb(30, 32, 33);

}
.singleTailorFormOptionBtn{
    width: 100%;
    /* border: 1px solid rgb(26, 0, 128); */
    height: 6vh;
}
.singleTailorOptionBtns{
    width: 33.33%;
    height: 5.99vh;
    background-color:#eeeee4;
    border: none;
    box-shadow: 1px 1px 5px 1px rgb(30, 32, 33);
    font-size: 20px;
    
}
.singleTailorInfoForm{
    margin-top: 5%;
    width: 30%;
    height: fit-content;
    box-shadow: 1px 1px 5px 1px rgb(30, 32, 33);

    /* height: 36vh; */
    /* border: 7px solid black; */

}
@media(max-width:2000px){
    
  
     .singleTailorShopCard{
        margin-right: 10%;
        width: 60%;
    } 
    .singleTailorInfoForm{
        width: 45%;
    }
}
@media(max-width:1700px){
   
    .singleTailorShopCard{
        width: 55%;
    }
   
   
}

@media(max-width:1390px){
   
    .singleTailorShopCard{
        width: 75%;
        height:45vh;
        margin-right: 0;
        margin-top: 0;
    }
    .singleTailorShopView{
        /* padding-top: 10px;
        padding-bottom: 10px; */
        align-items: center;
        /* justify-content: center; */
        flex-direction: column;
    }
    .singleTailorInfoForm{
        width: 55%;
        /* height: 30vh; */
    }
   
   
}
@media(max-width:1200px){
    .singleTailorShopCard{
        width: 90%;
        margin: 0;
        height:40vh;
    }
    .singleTailorCardImgCrousel{
        height: 40vh;
    }
    .singleTailorShopView{
        justify-content: space-around;
    }
    .singleTailorInfoForm{
        width: 70%;
    }
    
}
@media(max-width:900px){
    .singleTailorInfoForm{
        width: 90%;
    }
}
@media(max-width:650px){
    .singleTailorInfoForm{
        width: 100%;
    }
    .singleTailorShopCard{
        width: 100%;
       
    }
}

@media(max-width:550px){
    .singleTailorShopView{
        width: 100%;
    }
  
    .singleTailorInfoForm{
        width: 97%;
    }
    .singleTailorShopCard{
        width: 97%;
        height: 35vh;
       
    }
    .singleTailorCardImgCrousel{
        height: 35vh;
    }
}
